@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(223, 221, 221);
}

.title {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.cards {
    width: 80%;
    background-color: gray;
    border-radius: 30px;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

.centrado {
    text-align: center;
    border-radius: 5px;
}

.colorbg {
    background-color: gray;
}